In [9]:
import pandas as pd
import os

In [10]:
file = "NJ-12 Monmouth County.csv"

In [11]:
file_df = pd.read_csv(file)

In [15]:
file_df['CITY'].unique()

array(['Belmar', 'Sea Bright', 'Atlantic Hghlnds', 'Long Branch',
       'Ocean Grove', 'Millstone Twp', 'Neptune', 'Freehold', 'Matawan',
       'Morganville', 'Farmingdale', 'Holmdel', 'Fair Haven', 'Lincroft',
       'Tinton Falls', 'Wall Township', 'Union Beach', 'Manalapan',
       'Bradley Beach', 'Red Bank', 'Port Monmouth', 'Shrewsbury',
       'Hazlet', 'Ocean', 'Eatontown', 'Allentown', 'Leonardo', 'Keyport',
       'Oakhurst', 'Asbury Park', 'Monmouth Beach', 'Tennent',
       'Englishtown', 'Brielle', 'Manasquan', 'Howell', 'Middletown',
       'Spring Lake', 'Marlboro', 'Avon By The Sea', 'North Middletown',
       'Highlands', 'Rumson', 'Keansburg', 'Belford', 'Cliffwood',
       'Oceanport', 'Neptune City', 'West Long Branch', 'Little Silver',
       'Sea Girt', 'Clarksburg', 'Colts Neck', 'Cream Ridge', 'Deal',
       'Perrineville', 'Hazlet Twp', 'Allenhurst', 'Aberdeen', 'Allenwood',
       'New Egypt', 'Wall'], dtype=object)

In [16]:
file_df.count()

Date List Produced                          1542
Record Obsolescence Date                    1542
Source                                      1542
COMPANY NAME                                1542
ADDRESS                                     1542
CITY                                        1542
STATE                                       1542
ZIP CODE                                    1542
MAILING CARRIER ROUTE                       1536
MAILING DELIVERY POINT BAR CODE             1536
LOCATION ADDRESS                            1542
LOCATION ADDRESS CITY                       1542
LOCATION ADDRESS STATE                      1542
LOCATION ADDRESS ZIP                        1542
LOCATION ADDRESS DELIVERY POINT BAR CODE    1535
LOCATION ADDRESS CARRIER ROUTE              1535
COUNTY                                      1542
PHONE NUMBER                                1542
WEB ADDRESS                                 1124
LAST NAME                                    994
FIRST NAME                                   994
CONTACT TITLE                                993
CONTACT PROF TITLE                             1
CONTACT GENDER                               981
ACTUAL EMPLOYEE SIZE                        1542
EMPLOYEE SIZE RANGE                         1542
ACTUAL SALES VOLUME                         1542
SALES VOLUME RANGE                          1482
PRIMARY SIC                                 1542
PRIMARY SIC DESCRIPTION                     1542
SECONDARY SIC #1                            1542
SECONDARY SIC DESCRIPTION #1                1542
SECONDARY SIC #2                             679
SECONDARY SIC DESCRIPTION #2                 679
CREDIT ALPHA SCORE                          1542
CREDIT NUMERIC SCORE                        1542
HEADQUARTERS/BRANCH                         1542
YEAR 1ST APPEARED                           1542
OFFICE SIZE                                    9
SQUARE FOOTAGE                              1541
FIRM/INDIVIDUAL                             1542
PUBLIC/PRIVATE FLAG                            0
Fleet size                                  1542
FRANCHISE/SPECIALTY #1                       177
FRANCHISE/SPECIALTY #2                         7
INDUSTRY SPECIFIC CODES                      768
ADSIZE IN YELLOW PAGES                      1036
METRO AREA                                  1542
INFOUSA ID                                  1542
dtype: int64

In [22]:
belmar_df = file_df.loc[file_df["CITY"] == "Belmar",:]

In [30]:
belmar_new_df = belmar_df[["COMPANY NAME","CITY","LOCATION ADDRESS", "LAST NAME", "FIRST NAME","PHONE NUMBER", "SALES VOLUME RANGE","ACTUAL SALES VOLUME"]]

In [31]:
belmar_new_df

,COMPANY NAME,CITY,LOCATION ADDRESS,LAST NAME,FIRST NAME,PHONE NUMBER,SALES VOLUME RANGE,ACTUAL SALES VOLUME
0,10th Ave Burrito Co,Belmar,801 Belmar Plz,Katz,Brian,7322801515,"LESS THAN $500,000",114000
2,3 Brothers From Italy,Belmar,1603 Ocean Ave,NaN,NaN,7322805900,"LESS THAN $500,000",114000
22,Acropolis Cafe Restaurant,Belmar,506 Main St,Pendondjis,Andreas,7325560050,"LESS THAN $500,000",228000
56,Anchor Eatery,Belmar,501 13th Ave,NaN,NaN,7328824141,"LESS THAN $500,000",341000
57,Anchor Tavern,Belmar,713 Main St,Glynn,Brendan,7322802266,"$500,000 - 1 MILLION",933000
139,Beckmans On The Beach,Belmar,1605 Ocean Ave,NaN,NaN,7328943781,"LESS THAN $500,000",341000
144,Bella Buddha,Belmar,50 Inlet Ter,NaN,NaN,7327490729,"LESS THAN $500,000",341000
150,Belmar Cafe,Belmar,707 Main St,Skentzos,Tom,7326815800,"$500,000 - 1 MILLION",682000
168,Blue Sky Grille,Belmar,1715 Ocean Ave,NaN,NaN,7327493375,"LESS THAN $500,000",341000
173,Boathouse Bar & Grill,Belmar,1309 Main St,Harmon,Tim,7326815221,$1 - 2.5 MILLION,2272000
186,Brandl,Belmar,703 9th Ave # A,Brandl,Chris,7322807501,"$500,000 - 1 MILLION",512000
222,Burger King,Belmar,Garden State Pkwy,NaN,NaN,7326814314,$1 - 2.5 MILLION,1420000
317,Cielito Lindo Taqueria Y,Belmar,1110 Main St,NaN,NaN,7327493037,"LESS THAN $500,000",114000
345,Coney Waffle,Belmar,803 Ocean Ave,NaN,NaN,7325566951,"LESS THAN $500,000",341000
350,Corner Bagelry & Deli,Belmar,1104 Main St,Whille,Robert,7328949798,"LESS THAN $500,000",341000
362,Country Kitchen,Belmar,2510 Belmar Blvd # I-5,Sideris,Anthony,7326812302,"LESS THAN $500,000",284000
390,D'Jais Oceanview Bar & Cafe,Belmar,1801 Ocean Ave,Thompson,Karen,7326815055,"LESS THAN $500,000",341000
391,Dairy Queen,Belmar,827 12th Ave,NaN,NaN,7326811262,"LESS THAN $500,000",228000
409,Dewilla's The Place To Eat,Belmar,1801 Main St,NaN,NaN,7327493420,"$500,000 - 1 MILLION",568000
441,Eat At Eddy's,Belmar,1510 Main St,NaN,NaN,7328943039,"LESS THAN $500,000",341000
472,Federici's On 10th,Belmar,705 10th Ave,Hansen,Scott,7326813337,$1 - 2.5 MILLION,1988000
588,Hoagitos,Belmar,807 Belmar Plz,Spagnuolo,Emma,7325566617,"LESS THAN $500,000",284000
598,Hooked,Belmar,835 Belmar Plz,Riley,John,7322800333,"LESS THAN $500,000",114000
637,Inn At The Shore,Belmar,301 4th Ave,Neely,Bill,7326813762,"LESS THAN $500,000",187000
652,Italian Delight,Belmar,921 Main St,NaN,NaN,7326815444,"LESS THAN $500,000",341000
657,Jack's Tavern,Belmar,703 10th Ave,Ternova,Mike,7326813922,"$500,000 - 1 MILLION",933000
658,Jade Garden,Belmar,1809 Main St,Gao,Er,7322802282,"LESS THAN $500,000",57000
662,Jake's Downtown,Belmar,803 Main St,NaN,NaN,7322807501,"LESS THAN $500,000",341000
673,Jersey Shore Bbq,Belmar,811 Belmar Plz,Walsh,Douglas,7328949009,"$500,000 - 1 MILLION",682000
686,Jimmy's Place,Belmar,804 Ocean Ave,NaN,NaN,7322807500,"LESS THAN $500,000",341000
...,...,...,...,...,...,...,...,...
745,Klein's Fish Mkt Waterside,Belmar,708 River Rd,Klein,Ollie,7326811177,"LESS THAN $500,000",114000
746,Klein's On Main,Belmar,501 Main St,NaN,NaN,7325566571,"LESS THAN $500,000",341000
752,Kotta Sushi Asian,Belmar,815 Belmar Plz,NaN,NaN,7322805983,"LESS THAN $500,000",341000
770,LA Dolce Vita,Belmar,400 Ocean Ave,Fuccilli,Nick,7327493177,$2.5 - 5 MILLION,2840000
790,LA Terrazza Cucina Rustica,Belmar,408 Ocean Ave,NaN,NaN,7328943855,"LESS THAN $500,000",341000
837,Mahogany Room At Bar Antcptn,Belmar,703 16th Ave,Hyde,Reggie,7326817422,$2.5 - 5 MILLION,2840000
845,Mamaluke's Mamaluke's,Belmar,1715 Ocean Ave,NaN,NaN,7326817000,"LESS THAN $500,000",341000
862,Marina Grille,Belmar,905 State Route 35,Cooper,Bob,7328943211,"LESS THAN $500,000",341000
897,Mccanns Tavern,Belmar,1704 Main St,Mc Cann Jr,Tom,7326818534,"LESS THAN $500,000",284000
957,Mr Shrimp,Belmar,1600 State Route 71 # 4,Petruzziello,Vincent,7326817755,"$500,000 - 1 MILLION",568000
987,New China Kitchen,Belmar,910 Main St,Chen,Jiaying,7326812525,"LESS THAN $500,000",171000
1080,Paul's Tavern & Cabin,Belmar,1705 Main St,Heaney,Paul,7328949640,$1 - 2.5 MILLION,1136000
1104,Pick's Deli Market,Belmar,1500 Main St,Favian,Awilda,7326811501,"$500,000 - 1 MILLION",687000
1112,Plantnation P,Belmar,1600 State Route 71,NaN,NaN,7326811909,"LESS THAN $500,000",230000
1148,Ragin Cajun,Belmar,1102 State Route 35,Velke,Scott,7322806828,"LESS THAN $500,000",341000
1196,Rockin Roasters,Belmar,702 10th Ave,NaN,NaN,7327493306,"LESS THAN $500,000",341000
1275,Side Door Eatery,Belmar,1709 Main St,Thrush,Lorrie,7322802299,"LESS THAN $500,000",228000
1315,Stay Gold Cafe & Lounge,Belmar,800 Main St # 102,Soares,Jay,7328949270,"$500,000 - 1 MILLION",852000
1324,Strollos Italian Ice,Belmar,501 Main St,Marks,Dominick,7326816147,"LESS THAN $500,000",57000
1337,Sunrise Food Market,Belmar,1600 Main St,Patel,Harry,7322806500,$1 - 2.5 MILLION,1145000
1344,Super Savers Markets 2,Belmar,1210 Main St,NaN,NaN,7322800770,"$500,000 - 1 MILLION",687000
1353,Surf Taco,Belmar,1003 Main St,Nagel,Rob,7326813001,"$500,000 - 1 MILLION",852000
1360,Sweet Tease,Belmar,604 Main St #2,NaN,NaN,7327228030,"LESS THAN $500,000",341000
1367,T R's Food Court,Belmar,1603 Ocean Ave,Rogers,Tom,7326816776,$2.5 - 5 MILLION,2556000
1383,Tandem Bike Inn,Belmar,603 10th Ave,NaN,NaN,7325566621,"LESS THAN $500,000",341000
1420,Tower Lodge Care Ctr,Belmar,1506 Gully Rd,Resnick,Diane,7322802966,$5 - 10 MILLION,5147000
1432,Triple Green,Belmar,1506 Main St,NaN,NaN,7326810077,"LESS THAN $500,000",171000
1434,Tulipano's Italian Market,Belmar,1002 Main St,NaN,NaN,7326818180,"LESS THAN $500,000",341000
1443,Twisted Tapas,Belmar,1006 Main St,NaN,NaN,9084338531,"LESS THAN $500,000",341000
1471,Visiting Angels Living Asstnce,Belmar,2510 Belmar Blvd # K-8,NaN,NaN,7327227747,"LESS THAN $500,000",264000

In [32]:
squan_df = file_df.loc[file_df["CITY"] == "Manasquan",:]

In [37]:
squan_new_df = squan_df[["COMPANY NAME","CITY","LOCATION ADDRESS", "LAST NAME", "FIRST NAME","PHONE NUMBER", "SALES VOLUME RANGE","ACTUAL SALES VOLUME"]]

In [35]:
squan_new_df.nunique()

COMPANY NAME           46
CITY                    1
LOCATION ADDRESS       43
LAST NAME              29
FIRST NAME             27
PHONE NUMBER           46
SALES VOLUME RANGE      6
ACTUAL SALES VOLUME    22
dtype: int64

In [36]:
belmar_new_df.nunique()

COMPANY NAME           62
CITY                    1
LOCATION ADDRESS       59
LAST NAME              33
FIRST NAME             30
PHONE NUMBER           61
SALES VOLUME RANGE      5
ACTUAL SALES VOLUME    23
dtype: int64

In [38]:
squan_new_df

,COMPANY NAME,CITY,LOCATION ADDRESS,LAST NAME,FIRST NAME,PHONE NUMBER,SALES VOLUME RANGE,ACTUAL SALES VOLUME
66,Antonio's Trattoria,Manasquan,2420 Highway 35,Moreno,Samantha,7322231933,"LESS THAN $500,000",341000
78,Asahi Japanese Hibachi Steak,Manasquan,99 Taylor Ave,Ni,Oiao L,7322232669,"LESS THAN $500,000",284000
134,Beach House,Manasquan,26 Pearce Ct,NaN,NaN,7325280989,"LESS THAN $500,000",341000
161,Blend By Chef Lou LLC,Manasquan,152 Main St,NaN,NaN,7322230030,"LESS THAN $500,000",341000
166,Blue Peach Cafe,Manasquan,2517 Highway 35 # 205,Gonnella,Sue,7322233444,"LESS THAN $500,000",341000
171,Boar's Head Brand,Manasquan,2610 River Rd,NaN,NaN,7322233061,"$500,000 - 1 MILLION",953000
215,Bubbakoo's Burritos,Manasquan,233 E Main St,Hart,Sean,7325281500,"LESS THAN $500,000",398000
262,Center Food Market,Manasquan,113 Main St,Mc Keon,Howard,7322234556,"LESS THAN $500,000",455000
329,Cluck U Chicken,Manasquan,2241 Highway 35,NaN,NaN,7327228500,"LESS THAN $500,000",341000
351,Corner Cafe,Manasquan,1407 Atlantic Ave,NaN,NaN,7327227303,"LESS THAN $500,000",341000
389,D'Ambrosio Associates Inc,Manasquan,2410 Highway 34 # 202,NaN,NaN,7325286366,"$500,000 - 1 MILLION",568000
394,Dairy Queen,Manasquan,97 Atlantic Ave,NaN,NaN,7322232199,"$500,000 - 1 MILLION",852000
443,Edgar's Pub,Manasquan,153 Sea Girt Ave,Fahey,Christopher,7324494114,"$500,000 - 1 MILLION",995000
475,Fiesta Mexicana,Manasquan,109 Taylor Ave,Cabanas,Jose,7326123861,"LESS THAN $500,000",57000
487,Fjs Foods Inc,Manasquan,94 Mclean Ave,NaN,NaN,7322235313,"LESS THAN $500,000",341000
523,George Lu Chinese Restaurant,Manasquan,146 Main St,NaN,NaN,7322234224,"LESS THAN $500,000",341000
538,Golden Cheung,Manasquan,109 Taylor Ave # E,Zhang,Tong H,7322235635,"LESS THAN $500,000",284000
552,Grandma's Meatball Inc,Manasquan,109 Taylor Ave,NaN,NaN,7322924580,"LESS THAN $500,000",341000
572,Harpoon Willy's,Manasquan,2655 River Rd,Starponi,Jim,7322238880,$1 - 2.5 MILLION,2272000
587,Hincks Turkey Farm,Manasquan,1414 Atlantic Ave,Longo,Robert,7322235622,"$500,000 - 1 MILLION",568000
589,Hobart Sales & Svc,Manasquan,1917 Atlantic Ave,NaN,NaN,7322231100,$10 - 20 MILLION,18312000
638,Inn On Main Manasquan,Manasquan,152 Main St,Reyes,Val,7325280099,"LESS THAN $500,000",187000
643,Irish Rail,Manasquan,229 E Main St # 2,Collins,Mark,7322239300,"LESS THAN $500,000",341000
669,Jersey Grille,Manasquan,2410 Highway 35 # C,Carousis,Lee,7327227994,"$500,000 - 1 MILLION",568000
774,LA Michoacana Meat Market,Manasquan,109 Taylor Ave,Torres,Juan,7326123790,"LESS THAN $500,000",229000
796,Leggett's Sand Bar,Manasquan,217 1st Ave,Paglia,John,7322233951,$2.5 - 5 MILLION,3408000
829,Lubrano's Trattoria,Manasquan,2445 Highway 34,NaN,NaN,7322920050,"LESS THAN $500,000",341000
849,Manasquan Fire District #1,Manasquan,35 Colby Ave,Hamilton,Neil B,7322231599,NaN,0
858,Marias Italian Cuisine,Manasquan,165 Main St,Bertucci,Frank,7322232033,$1 - 2.5 MILLION,1704000
889,Mc Donald's,Manasquan,2428 Highway 35,Tsucalas,Matthew,7322234131,$1 - 2.5 MILLION,2045000
924,Mike's Deli,Manasquan,2381 Highway 34,Fleidner,Bill,7325285788,"LESS THAN $500,000",284000
972,Nathaniel Morris Inn,Manasquan,117 Marcellus Ave,Mc Fadden,Gail,7322237826,"LESS THAN $500,000",187000
1052,Outback Steakhouse,Manasquan,2317 Highway 34 # 1b,Foley,Christian,7704869292,$2.5 - 5 MILLION,4259000
1069,Paramount Diner,Manasquan,130 Main St,Ionidis,Minas,7327228242,"LESS THAN $500,000",341000
1083,Peachtree Restaurant,Manasquan,2519 Highway 35,NaN,NaN,7325288391,"LESS THAN $500,000",341000
1109,Pit Stop Grill,Manasquan,95 Atlantic Ave,NaN,NaN,7327227310,"LESS THAN $500,000",341000
1156,Re Juice A Nation,Manasquan,99 Main St,NaN,NaN,7322232222,"LESS THAN $500,000",341000
1168,Remington's,Manasquan,142 Main St,Murphy,Frank,7322921300,$1 - 2.5 MILLION,1704000
1190,Riverside Cafe,Manasquan,425 1st Ave,NaN,NaN,7322232233,"LESS THAN $500,000",341000
1194,Rocco's Pizza & Subs,Manasquan,82 Taylor Ave,Suriani,Kathleen,7322234884,"LESS THAN $500,000",228000
1264,Shop Rite,Manasquan,2433 Highway 34,Honauer,Ruth,7322929780,$50 - 100 MILLION,68696000
1331,Sunburst Pie,Manasquan,150 Main St,NaN,NaN,7322238296,"LESS THAN $500,000",341000
1333,Sundaes-The Ice Cream Place,Manasquan,2211 Highway 35,Soldo,Richard,7322239555,"$500,000 - 1 MILLION",852000
1355,Surf Taco Manasquan,Manasquan,121 Parker Ave,Austin,Christopher,7322237757,"$500,000 - 1 MILLION",966000
1404,Thecommitted Pig,Manasquan,168 Main St,Rotunno,Jerry,7325289400,$1 - 2.5 MILLION,1136000
1463,Via Veneto Ristorante,Manasquan,2410 Highway 35 # E,Strippoli,Jeffrey,7327228458,"LESS THAN $500,000",341000

In [39]:
WLB_df = file_df.loc[file_df["CITY"] == "West Long Branch",:]

In [40]:
WLB_new_df = WLB_df[["COMPANY NAME","CITY","LOCATION ADDRESS", "LAST NAME", "FIRST NAME","PHONE NUMBER", "SALES VOLUME RANGE","ACTUAL SALES VOLUME"]]

In [41]:
WLB_new_df.nunique()

COMPANY NAME           20
CITY                    1
LOCATION ADDRESS       17
LAST NAME              15
FIRST NAME             15
PHONE NUMBER           20
SALES VOLUME RANGE      6
ACTUAL SALES VOLUME    14
dtype: int64

In [42]:
WLB_new_df

,COMPANY NAME,CITY,LOCATION ADDRESS,LAST NAME,FIRST NAME,PHONE NUMBER,SALES VOLUME RANGE,ACTUAL SALES VOLUME
218,Bubbakoo's Burritos,West Long Branch,145 Monmouth Rd,Carlin,Brett,7325428226,"$500,000 - 1 MILLION",625000
240,Cafe Villa,West Long Branch,310 State Route 36 # 706,NaN,NaN,7325422150,"LESS THAN $500,000",228000
583,Hesse Field On The Great Lawn,West Long Branch,400 Cedar Ave,NaN,NaN,7325713415,$5 - 10 MILLION,6014000
590,Hobo Restaurant Hungry,West Long Branch,181 Locust Ave,Beshai,Bob,7328701355,"$500,000 - 1 MILLION",682000
656,Jack Frost's Ice Cream,West Long Branch,169 Locust Ave,Sunes,Ernesto,7324836803,"LESS THAN $500,000",57000
725,KESSLER Field,West Long Branch,400 Cedar Ave,Gassney,Paul,7325713400,$5 - 10 MILLION,6014000
779,LA Quinta Inn-West Long Branch,West Long Branch,109 State Route 36,Patel,Harry,7324038700,$1 - 2.5 MILLION,1861000
785,LA Scarpetta Italian Rstrnt,West Long Branch,167 Locust Ave,NaN,NaN,7322297333,"LESS THAN $500,000",341000
896,Mc Donald's,West Long Branch,372 Monmouth Rd,Sabasano,Joe,7322220156,$2.5 - 5 MILLION,2840000
966,My Way Cafe,West Long Branch,823 Broadway,Rapunao,Sam,7322292923,"LESS THAN $500,000",228000
996,New Peking Taste Inc,West Long Branch,175 Monmouth Rd # 6,Li Rui,Min,8483038876,"LESS THAN $500,000",341000
1024,Ocean First Bank Ctr,West Long Branch,400 Cedar Ave,NaN,NaN,7322636889,$5 - 10 MILLION,6014000
1142,Quick Chek,West Long Branch,868 Broadway,Campbell,Chris,7328709801,$1 - 2.5 MILLION,2061000
1169,Ren's Garden,West Long Branch,186 Locust Ave,Sheng,Lin,7328708828,"LESS THAN $500,000",171000
1198,Rodeio Grill & Restaurant,West Long Branch,78 Oceanport Ave,Leao,Jose,7325714800,"LESS THAN $500,000",341000
1269,Shop Rite,West Long Branch,145 Monmouth Rd # 3,Noyes,Rea,7325425222,$20 - 50 MILLION,46178000
1311,Sprinkle's,West Long Branch,169 Locust Ave,NaN,NaN,7322294888,"LESS THAN $500,000",284000
1373,Taco Bell,West Long Branch,306 State Route 36,Nair,Santhosh,7329351122,$1 - 2.5 MILLION,1250000
1454,University Subs & Deli,West Long Branch,142 Wall St # 3,Mazza,Barbara,7322220537,"LESS THAN $500,000",171000
1539,Zacharys Restaurant,West Long Branch,71 Oceanport Ave,Parliaros,George,7322290286,$2.5 - 5 MILLION,2556000

In [43]:
eatontown_df = file_df.loc[file_df["CITY"] == "Eatontown",:]

In [44]:
eatontown_new_df = eatontown_df[["COMPANY NAME","CITY","LOCATION ADDRESS", "LAST NAME", "FIRST NAME","PHONE NUMBER", "SALES VOLUME RANGE","ACTUAL SALES VOLUME"]]

In [45]:
eatontown_new_df.nunique()

COMPANY NAME           37
CITY                    1
LOCATION ADDRESS       37
LAST NAME              26
FIRST NAME             26
PHONE NUMBER           38
SALES VOLUME RANGE      6
ACTUAL SALES VOLUME    26
dtype: int64

In [46]:
eatontown_new_df

,COMPANY NAME,CITY,LOCATION ADDRESS,LAST NAME,FIRST NAME,PHONE NUMBER,SALES VOLUME RANGE,ACTUAL SALES VOLUME
38,All Seasons Diner,Eatontown,176 Wyckoff Rd,Zavolas,Mike,7325429462,$1 - 2.5 MILLION,1704000
106,B54 Enterprises LLC,Eatontown,241 Highway 35,NaN,NaN,7324600293,"$500,000 - 1 MILLION",687000
175,Bobby's Burger Palace,Eatontown,188 Highway 35,Buffardi,Christopher,7325440200,$1 - 2.5 MILLION,2272000
223,Burger King,Eatontown,139 Highway 35,Reevey,Tammy,7325421100,$1 - 2.5 MILLION,2272000
224,Burger King,Eatontown,180 Highway 35 # Of01,Martinez,Jose,7325427611,$1 - 2.5 MILLION,1023000
279,Chick-Fil-A,Eatontown,180 Highway 35 # Of06,Bassett,Jeff,7325422243,$1 - 2.5 MILLION,1136000
286,Chili's Grill & Bar,Eatontown,182 Highway 35,NaN,NaN,7323897530,$2.5 - 5 MILLION,4543000
290,China Chef,Eatontown,37 Highway 35 # 9,Zhand,Aihua,7325781841,"LESS THAN $500,000",114000
304,Chipotle Mexican Grill,Eatontown,186 Highway 35,Scott,Kevin,7323895041,$1 - 2.5 MILLION,1647000
331,Cluck You Chicken Of LA,Eatontown,15 State Route 36,Elsworth,William,7323892888,"LESS THAN $500,000",398000
383,Cuisine To Go,Eatontown,178 Highway 35,NaN,NaN,9083098340,"LESS THAN $500,000",341000
408,Devereux Nj Treatment Network,Eatontown,9 Woodmere Dr,Graham,Eileen,7323800108,NaN,0
514,Funtime America,Eatontown,269 Highway 35,Falco,Luigi,7324600700,$5 - 10 MILLION,7861000
526,Get That Dough LLC,Eatontown,76 Weston Pl,NaN,NaN,7323800550,"LESS THAN $500,000",341000
550,Grand China Buffet,Eatontown,50 State Route 36,Dotung,Benny,7324601234,"$500,000 - 1 MILLION",568000
565,Habit Burger Grill,Eatontown,178 Highway 35,NaN,NaN,7325445401,$1 - 2.5 MILLION,1136000
594,Home Instead Senior Care,Eatontown,25 Main St,Noon,Steve,7325429004,"LESS THAN $500,000",264000
628,Illiano's Cafe Over Eatontown,Eatontown,1 Corbett Way,NaN,NaN,7325422520,"$500,000 - 1 MILLION",682000
676,Jersey Shore Ctr,Eatontown,3 Industrial Way E,Stevens,Linda,7325441406,$10 - 20 MILLION,11209000
677,Jersey Shore Deli,Eatontown,613 Hope Rd # 19,Patel,Mick,7325448838,"$500,000 - 1 MILLION",687000
680,Jiang Hai Restaurant,Eatontown,180 Highway 35 # Of08,Luo,Huan,7325781500,"LESS THAN $500,000",341000
762,Kwong Fat Restaurant,Eatontown,613 Hope Rd # 18,Kwong,Chen,7323898222,"LESS THAN $500,000",341000
881,Mc Donald's,Eatontown,18 Highway 35,Savasctano,Joseph,7323891764,$2.5 - 5 MILLION,2840000
947,Monmouth Mall,Eatontown,180 Highway 35 # 3108,Montoya,Grace,7325420333,"$500,000 - 1 MILLION",705000
955,Mr Brain Freeze,Eatontown,130 Main St,NaN,NaN,7328956604,"LESS THAN $500,000",341000
1035,Olive Garden Italian Kitchen,Eatontown,230 Highway 35,Casillas,Vicki,7323894585,$5 - 10 MILLION,6247000
1091,Perkins Restaurant & Bakery,Eatontown,158 Main St,Petrou,Ted,7323800066,$1 - 2.5 MILLION,1079000
1114,Players Billiards,Eatontown,613 Hope Rd,Stillings,Dolores,7325421322,"LESS THAN $500,000",114000
1117,Popeyes Louisiana Kitchen,Eatontown,25 Highway 35,NaN,NaN,7325427800,$1 - 2.5 MILLION,1079000
1180,Rise N Shine Diner,Eatontown,14 Main St,Morterano,Sal,7325428042,"LESS THAN $500,000",171000
1208,Ruby Tuesday,Eatontown,180 Highway 35 # 2154,Vendennoort,Jennifer,7325424141,$2.5 - 5 MILLION,4203000
1258,Sheraton Eatontown Hotel,Eatontown,6 Industrial Way E,Paley,Susan,7325426500,$10 - 20 MILLION,13951000
1303,Spot The Knot,Eatontown,285 Parker Rd,NaN,NaN,7329480301,"LESS THAN $500,000",341000
1325,Sultan Wok,Eatontown,105 Highway 35,NaN,NaN,7324609090,"LESS THAN $500,000",341000
1329,Sun Eagles Golf Club,Eatontown,2000 Lowther Dr,NaN,NaN,7323894300,$1 - 2.5 MILLION,1537000
1399,TGI Friday's,Eatontown,180 Highway 35 # 6000,NaN,NaN,7325422441,$5 - 10 MILLION,8493000
1415,Tomo,Eatontown,78 Highway 35,Lee,Janette,7325445533,$1 - 2.5 MILLION,1023000
1510,White Castle,Eatontown,247 Highway 35,Starling,Claudia,9087530822,$1 - 2.5 MILLION,1591000

In [48]:
rb_df = file_df.loc[file_df["CITY"] == "Red Bank",:]

In [49]:
rb_new_df = rb_df[["COMPANY NAME","CITY","LOCATION ADDRESS", "LAST NAME", "FIRST NAME","PHONE NUMBER", "SALES VOLUME RANGE","ACTUAL SALES VOLUME"]]

In [54]:
rb_new_df.count()

COMPANY NAME           97
CITY                   97
LOCATION ADDRESS       97
LAST NAME              66
FIRST NAME             66
PHONE NUMBER           97
SALES VOLUME RANGE     95
ACTUAL SALES VOLUME    97
dtype: int64

In [55]:
rb_new_df

,COMPANY NAME,CITY,LOCATION ADDRESS,LAST NAME,FIRST NAME,PHONE NUMBER,SALES VOLUME RANGE,ACTUAL SALES VOLUME
30,Aj's Cafe,Red Bank,125 Half Mile Rd # 99,NaN,NaN,7328422999,"LESS THAN $500,000",171000
60,Angel's Home Care Svc Inc,Red Bank,148 Monmouth St # C,Cook,Angela,7329361377,$5 - 10 MILLION,8578000
97,Atrium At Navesink Harbor,Red Bank,40 Riverside Ave,Clarke,Shoronda,7327849800,"$500,000 - 1 MILLION",987000
155,Birravino,Red Bank,183 Riverside Ave,NaN,NaN,7328425990,"LESS THAN $500,000",341000
156,Bistro At Red Bank,Red Bank,14 Broad St,Pernes,Tom,7325305553,"$500,000 - 1 MILLION",682000
165,Blue Bistro,Red Bank,141 Shrewsbury Ave,NaN,NaN,7322688555,"LESS THAN $500,000",341000
181,Boon Docks Fishery & Grill,Red Bank,1 Marine Park,Ryan,Kelly,7327477177,"LESS THAN $500,000",228000
220,Buona Sera,Red Bank,50 Maple Ave,Mariani,Chris,7325305858,"$500,000 - 1 MILLION",852000
250,Carlos O'Connor Mexican Rstrnt,Red Bank,31 Monmouth St,O'Connor,Carlos,7325306663,"LESS THAN $500,000",284000
257,Catch,Red Bank,9 Broad St,Chubbie,Ryan,7322688384,$1 - 2.5 MILLION,1988000
266,Chapin Hill,Red Bank,100 Chapin Ave,Farkas,Zev,7327410323,$10 - 20 MILLION,15011000
267,Char Steakhouse Of Red Bank,Red Bank,33 Broad St,Walker,Juan,7324502427,"LESS THAN $500,000",341000
293,China Garden Restaurant,Red Bank,220 Shrewsbury Ave,NaN,NaN,7322199732,"LESS THAN $500,000",114000
308,Chipotle Mexican Grill,Red Bank,20 Water St,Sherd,Ashley,7327588524,$1 - 2.5 MILLION,1193000
312,Chowda House,Red Bank,78 Bridge Ave,NaN,NaN,7327471500,"LESS THAN $500,000",341000
319,Citarella's Meats & Deli,Red Bank,57 Prospect Ave,Citarella,Ralph,7327419059,"LESS THAN $500,000",284000
327,Claudie's Chicken & Cnvnnc,Red Bank,417 State Route 35,NaN,NaN,7324500007,"LESS THAN $500,000",341000
330,Cluck U Chicken,Red Bank,50 Water St,NaN,NaN,7325302000,"LESS THAN $500,000",341000
343,Concepts III Textile,Red Bank,130 Maple Ave # 7b,Parkes,David,7325301976,$5 - 10 MILLION,5112000
366,Courtyard By Marriott Lincroft,Red Bank,245 Half Mile Rd,Newman,Kiernan,7325305552,$2.5 - 5 MILLION,4651000
398,Danny's Steakhouse & Sushi,Red Bank,11 Bridge Ave,Murphy,Danny,7327416900,$1 - 2.5 MILLION,1307000
428,Downtown,Red Bank,10 W Front St,Masi,Chris,7327412828,"LESS THAN $500,000",284000
432,Dublin House Pud & Restaurant,Red Bank,30 Monmouth St,Dunn,Sean,7327476699,$1 - 2.5 MILLION,1704000
453,Elite Sports Training,Red Bank,264 Shrewsbury Ave,NaN,NaN,7328504466,"$500,000 - 1 MILLION",926000
454,Elsie's Sub Shop,Red Bank,74 Monmouth St,Reddington,Tish,7327417682,"LESS THAN $500,000",114000
486,Fizz Soda Fountain,Red Bank,8 Monmouth St,NaN,NaN,7323835735,"LESS THAN $500,000",341000
493,Foodtown,Red Bank,362 Broad St,Etzkorn,Arlene,7327476800,$20 - 50 MILLION,45798000
506,Fresh Bowl,Red Bank,130 Broad St,Sorriso,Augusto,7322190444,"LESS THAN $500,000",398000
509,Front Street Trattoria,Red Bank,31 W Front St,Aufiero,Michael,7327479569,"$500,000 - 1 MILLION",568000
533,Globe Hotel Co,Red Bank,20 E Front St,Donley,Paula,7328425572,"$500,000 - 1 MILLION",933000
...,...,...,...,...,...,...,...,...
1157,Readie's Fine Foods,Red Bank,39 Broad St,Fishkin,Thomas,7327410450,"LESS THAN $500,000",457000
1158,Real Bazaar,Red Bank,118 Oakland St,NaN,NaN,7329003447,"LESS THAN $500,000",483000
1159,Red Bank Armory,Red Bank,76 Chestnut St,Brooks,Doug,7324509001,$2.5 - 5 MILLION,4560000
1160,Red Bank Chocolate Shoppe,Red Bank,17 White St,Dunfee,F,7322190822,"LESS THAN $500,000",448000
1161,Red Bank Diner,Red Bank,179 Broad St,Kanellos,Elia,7327414791,"LESS THAN $500,000",284000
1162,Red Bank Sub Shop,Red Bank,8 Monmouth St,NaN,NaN,7323835620,"LESS THAN $500,000",341000
1193,Robinson Ale House,Red Bank,26 Broad St,Axelson,Luke,7323838219,"LESS THAN $500,000",341000
1211,Runa Peruvian Cuisine,Red Bank,110 Monmouth St,NaN,NaN,7329703620,"LESS THAN $500,000",341000
1232,San Remo Restaurant,Red Bank,115 Oakland St,Bougdour,Abdellah,7323458200,"LESS THAN $500,000",341000
1252,Senor Peppers,Red Bank,60 Bridge Ave,Curtron,Gerard,7327411211,"LESS THAN $500,000",57000
1253,Senor T's,Red Bank,40 Harris Park,NaN,NaN,7327586404,"LESS THAN $500,000",341000
1255,Shadowbrook,Red Bank,37 Wall St,NaN,NaN,7322248300,"LESS THAN $500,000",341000
1286,Smoothie King,Red Bank,65 Broad St,Diamant,David,7327472130,"$500,000 - 1 MILLION",980000
1287,Sogo Sushi,Red Bank,60 Monmouth St,Chen,Huan,7325309688,"LESS THAN $500,000",284000
1356,Surf Taco Red Bank,Red Bank,35 Broad St,Courtney,Michael,7329361800,$2.5 - 5 MILLION,3649000
1379,Taki Sushi,Red Bank,80 Broad St,Liu,Sean,7322688619,"LESS THAN $500,000",341000
1380,Taliercio's Gourmet Deli,Red Bank,500 State Route 35 # 7g,Taliercio,Steve,7325761888,"LESS THAN $500,000",455000
1394,Teak Restaurant,Red Bank,64 Monmouth St,Lyristis,George,7327475775,$1 - 2.5 MILLION,1420000
1395,Temple Restaurant,Red Bank,91 Broad St,Kuo,Victor,7322128858,"LESS THAN $500,000",341000
1403,That Hot Dog Place,Red Bank,30 Monmouth St # 5,Parker,Mary,7322196999,"LESS THAN $500,000",114000
1409,Toast,Red Bank,45 Monmouth St,NaN,NaN,7322241234,$1 - 2.5 MILLION,1136000
1453,Universal Institute,Red Bank,80 Broad St,NaN,NaN,7327476696,NaN,0
1462,Via 45,Red Bank,45 Broad St,Herring,Claudette,7324509945,"LESS THAN $500,000",341000
1479,Walt Street Pub,Red Bank,180 Monmouth St,Mustillo,Lou,7327415936,"$500,000 - 1 MILLION",796000
1489,Wawa Food Market,Red Bank,14 N Bridge Ave,NaN,NaN,7327473555,$2.5 - 5 MILLION,4809000
1506,West Side Eatery,Red Bank,2 Bridge Ave # 611,NaN,NaN,7322687365,"LESS THAN $500,000",341000
1508,Whipped,Red Bank,6 Monmouth St,Napolatano,Nick,7327470076,"LESS THAN $500,000",341000
1521,Windmill,Red Bank,22 N Bridge Ave,NaN,NaN,7327475958,"LESS THAN $500,000",341000
1522,Windward Deli,Red Bank,254 Maple Ave,Atenco,Rene,7322195775,"LESS THAN $500,000",171000
1535,Yo Mon Frozen Yogurt,Red Bank,70 Water St,NaN,NaN,7322687360,"$500,000 - 1 MILLION",613000